.obstacle {
  height: $square;
  width: $square;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;

  img {
    height: $square;
    width: $square;
    object-fit: cover;
  }
}
