.edit-mode-container {
  width: 100%;
  height: 100%;
  position: relative;


  .close-tile-selection-container {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    z-index: 9999;
    span {
      font-size: 22px;
      cursor: pointer;
    }

  }
  .edit-mode-game-container {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .edit-mode-highlight {
    background: red;
    position: absolute;
    opacity: 0;
    min-width: calc(var(--square) * var(--zoom-level));
    min-height: calc(var(--square) * var(--zoom-level));
  }

  .edit-mode-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;

    &.enabled {
      height: 99999px;
      width: 99999px;
      margin: 0;
      position: absolute;

    }
    &.enabled {
      background-image:
              repeating-linear-gradient(#ccc 0 1px, transparent 1px 100%),
              repeating-linear-gradient(90deg, #ccc 0 1px, transparent 1px 100%);
      background-size: calc(var(--square) * var(--zoom-level)) calc(var(--square) * var(--zoom-level));
    }
  }

  .edit-mode-tile-container {
    width: 100%;
    background: var(--primary-background);
    z-index: 9999;
    position: fixed;
    top: 0;


    display: flex;
    flex-direction: column;

    .edit-mode-tile-container-section {
      width: 100%;
      padding: 12px 8px;
      height: calc(#{$square} * 2);
      display: flex;
      flex-direction: column;
      border-bottom: 3px solid white;
      opacity: 0.4;
      cursor: pointer;

      &.selected {
        opacity: 1;
      }

      &:last-child {
        border-bottom: none;
      }

      .edit-mode-tile-container-title {
        width: 100%;
        font-size: 24px;
        font-family: var(--text-default);
      }

      .edit-mode-tile-container-inner-content {
        display: flex;
        width: 100%;

        .edit-mode-tile-container-inner-section {
          display: flex;
          align-items: center;
          margin: 0 20px;

          .single-obstacle-type {
            height: var(--square);
            width: var(--square);
            margin: 5px;
            position: relative;
            opacity: 0.8;
            border: 1px solid grey;

            cursor: pointer;

            &:hover {
              opacity: 1;
            }

            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
              max-height: var(--square);
            }

            &.selected {
              opacity: 1;
              border: 2px solid white;
            }
          }
        }
      }


    }
  }
}
