.radio-buttons-container {
  display: flex;
  flex-wrap: wrap;

  &.vertical {
    flex-direction: column;
  }

  &.horizontal {
    flex-direction: row;
  }


  .radio-button-container {
    flex: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0.8;

    &.selected {
      opacity: 1;
    }

    .radio-button-input {
      flex: 0;
      min-width: 12px;
      min-height: 12px;
      max-height: 12px;
      max-width: 12px;
      margin: 2px 5px;
      border: 1px solid black;
      background: white;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;

      .radio-button-checkmark {

      }
    }

    .radio-button-label {
      flex: 1 1 80%;
      span {

      }
    }
  }
}
