$height:  3000px;
$width: 3000px;
$square: calc(#{$height} / 50);


@import './variables';
@import './blueprint/blueprint';
@import './opening/opening';
@import './character/character';
@import './square/square.style';
@import './obstacle/obstacle';
@import './icomoon/style.css';
@import './dialog/dialog';
@import './inventory/inventory';
@import './item/item';
@import './itemSlot/itemSlot';

@font-face {
  font-family: 'Medieval';
  src: url('/fonts/GoudyMedievalRegular.ttf');
}

@font-face {
  font-family: 'Medieval';
  src: url('/fonts/GoudyMedievalBold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Chancery';
  src: url('/fonts/chancery.ttf');
}

.main-container {

}
html {
  width: $height;
  height: $width;
  offset: auto;

  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
}
#root {
  height: 100%;
  width: 100%;

  .main-container {
    height: 100%;
    width: 100%;
  }
}

.back-button {
  position: absolute;
  top: 15px;
  right: 15px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 8px 12px;
  background: #f5f5f5;
  color: #1d1d1d;
}

.font-medieval {
  font-family: 'Medieval';
}
